.form-group{
    font-weight: bold;
}

/* Css Button loader */
/* Css Button loader */
svg.svg-inline--fa.fa-circle-notch.fa-w-16.fa-spin {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 1rem;
    
}

